.Layout {
  @extend %flex-between-start;
  flex-flow: row;
  background-color: $white;
}

.Main {
  width: 92.3%;
  position: relative;
  @extend %flex-center-start;
  padding-top: 100px;
}

.Home {
  width: 100%;
  @extend %flex-center-start;
}