@font-face {
    font-family: "Spartan";
    src: url('../../public/assets/Spartan-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Spartan";
    src: url('../../public/assets/Spartan-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body, button {
    font-family: "Spartan", Courier, monospace;
    color: $black;
}

.bold {
    font-weight: bold;
}

.XL {
    font-size: 26px;
}
.M {
    font-size: 16px;
}

.true-lavender {
    color: $true-lavender;
}
.violet {
    color: $violet;
}