@font-face {
    font-family: "Spartan";
    src: url('../../public/assets/Spartan-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Spartan";
    src: url('../../public/assets/Spartan-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body, button, input {
    font-family: "Spartan", Courier, monospace !important;
    color: $black;
    letter-spacing: 0.25px;
}

.bold {
    font-weight: bold;
}

.XXL {
    font-size: 36px;
}
.XL {
    font-size: 26px;
}
.L {
    font-size: 22px;
}
.M {
    font-size: 16px;
}
.S {
    font-size: 13px;
}
.XS {
    font-size: 12px;
}
.XXS {
    font-size: 11px;
}

.true-lavender {
    color: $true-lavender;
}
.violet {
    color: $violet;
}
.grey {
    color: $grey;
}
.red {
    color: $red;
}
.white {
    color: white;
}