@font-face {
    font-family: "Spartan";
    src: url('../../public/assets/Spartan-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Spartan";
    src: url('../../public/assets/Spartan-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Spartan", Courier, monospace;
    color: $black;
    font-size: 132px;
}

.bold {
    font-weight: bold;
}