// PRIMARY COLORS
$violet: #7C5DFA;
$light-violet: #9277FF;
$red: #EC5757;
$light-red: #9277FF;
$white: #F8F8FB;
$black: #1E2139;
$grey: #888EB0;

// SECONDARY COLORS

$black2: #0C0E16;
$black3: #141625;
$black-blue: #252945;
$stoic-white: #dfe3fa;
$true-lavender: #7e88c3;